[Unit]
Description=Dotfiles Wayland session services
Wants=waybar.service wob.service swayosd.service swayidle.service clipboard-history.service wallpaper.service stt-server.service
