[Unit]
Description=Sync Exchange busy time every ten minutes

[Timer]
OnBootSec=2min
OnUnitActiveSec=10min
RandomizedDelaySec=30sec
Persistent=true
Unit=outlook-nextcloud-sync.service

[Install]
WantedBy=timers.target