/* Основное окно - эмулируем параметры WOB */
window {
    background-color: rgba(24, 24, 32, 0.93); /* #181820ee */
    border: 2px solid #859aca;                /* border_size = 2 */
    border-radius: 0px;                         /* WOB-style углы */
    min-height: 2px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.5);
}

/* Контейнер для имитации bar_padding и высоты */
box {
    padding: 0 2px;   
    min-height: 2px; 
    min-width: 400px; 
}

/* Настройка полоски прогресса */
progressbar {
    min-height: 10px;
    background-color: transparent;
    border-radius: 0px;
}

progress {
    background-color: #859aca; /* твой bar_color */
    border-radius: 0px;
}

/* Текст для RU/EN */
label {
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-size: 18px;
    color: #859aca;
    font-weight: bold;
}

