# serial	name	identity_file	public_key_file
12345678	yubik_5c_nfc	~/.ssh/id_ed25519_sk_rk_${USER}@yubik_5c_nfc	~/.ssh/id_ed25519_sk_rk_${USER}@yubik_5c_nfc.pub
87654321	yubik_5c_nano	~/.ssh/id_ed25519_sk_rk_${USER}@yubik_5c_nano	~/.ssh/id_ed25519_sk_rk_${USER}@yubik_5c_nano.pub
