input {
    keyboard {
        xkb {
            layout "us,ru"
            options "grp:win_space_toggle"
        }
        numlock
    }

    touchpad {
        click-method "clickfinger"
        natural-scroll
    }

    focus-follows-mouse max-scroll-amount="0%"
}
