[user]
	email = erikfrish@gmail.com
	name = erikfrish
[commit]
	gpgsign = true
[gpg]
	format = ssh
[gpg "ssh"]
	sshProgram = ssh
	defaultKeyCommand = sh -c 'exec \"$HOME/.ssh/scripts/current_yubikey\"'
	allowedSignersFile = /home/erikfrish/.ssh/allowed_signers
	program = /home/erikfrish/.ssh/scripts/ssh-keygen-notify
[core]
	sshCommand = sh -c 'exec \"$HOME/.ssh/scripts/git_ssh\" \"$@\"' -
	editor = nvim
[include]
	path = ~/.gitconfig.local

[includeIf "hasconfig:remote.*.url:git@gitlab.wildberries.ru:*/**"]
	path = ~/.gitconfig-wb
[includeIf "hasconfig:remote.*.url:https://gitlab.wildberries.ru/**"]
	path = ~/.gitconfig-wb

