[user]
	email = erikfrish@gmail.com
	name = erikfrish
[commit]
	gpgsign = true
[gpg]
	format = ssh
[gpg "ssh"]
	sshProgram = ssh
	defaultKeyCommand = sh -c 'exec \"$HOME/.ssh/scripts/current_yubikey\"'
[core]
	sshCommand = sh -c 'exec \"$HOME/.ssh/scripts/git_ssh\" \"$@\"' -
[include]
	path = ~/.gitconfig.local
