* {
  bg:               rgba(24, 24, 32, 93%);
  bg-input:         #2b2b39;
  fg:               #dcd7ba;
  fg-selected:      #181820;
  accent1:          #859aca;
  accent2:          #957fb8;
  urgent:           #e46876;
  border-clr:       #2b2b39;

  background-color: transparent;
  text-color:       var(fg);
  spacing:          2;
}

window {
  background-color: var(bg);
  border:           2px;
  border-color:     var(border-clr);
  border-radius:    8px;
  padding:          10px;
  width:            50%;
}

mainbox {
  padding: 0;
}

inputbar {
  background-color: var(bg-input);
  border:           1px;
  border-color:     var(border-clr);
  border-radius:    5px;
  padding:          6px 10px;
  margin:           0px 0px 8px 0px;
  children:         [prompt, entry];
}

prompt {
  text-color: var(accent1);
  margin:    0px 8px 0px 0px;
}

entry {
  text-color: var(fg);
}

listview {
  padding:      2px 0px;
  scrollbar:    true;
  spacing:      4px;
  fixed-height: false;
  lines:        10;
}

scrollbar {
  width:            4px;
  padding:          0;
  handle-width:     8px;
  handle-color:     var(accent1);
  border:           0px;
  background-color: transparent;
}

element {
  padding:       8px 10px;
  border-radius: 4px;
  spacing:       10px;
}

element normal normal {
  background-color: transparent;
  text-color:       var(fg);
}

element selected normal {
  background-image: linear-gradient(to right, #859aca, #957fb8);
  text-color:       var(fg-selected);
}

element alternate normal {
  background-color: transparent;
  text-color:       var(fg);
}

element-icon {
  background-color: transparent;
  size:             4em;
}

element-text {
  background-color: transparent;
  text-color:       inherit;
}

error-message {
  background-color: var(bg);
  text-color:       var(urgent);
  padding:          8px;
  border-radius:    8px;
}
