window#waybar > box {
    margin: 3px 8px 0;
}

.modules-left,
.modules-center,
.modules-right {
    background: rgba(0, 0, 0, 0.12);
    border-radius: 16px;
    padding: 2px;
}

#custom-menu,
#custom-notification,
#custom-wakatime,
#custom-vpn1,
#custom-vpn2,
#custom-cycle_wall,
#custom-theme,
#custom-gammastep,
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#custom-backlight,
#network,
#custom-audio-volume,
#pulseaudio,
#wireplumber,
#custom-media,
#mode,
#tray,
#idle_inhibitor,
#bluetooth,
#custom-power,
#custom-weather,
#custom-language,
#language,
#window,
#workspaces {
    border-radius: 14px;
    margin: 0 2px;
    min-height: 20px;
    padding: 0 8px;
}

#workspaces {
    padding-left: 6px;
    padding-right: 6px;
}

#workspaces button {
    min-height: 20px;
    min-width: 14px;
    padding: 0 4px;
    margin: 0 1px;
}

#custom-menu,
#custom-cycle_wall,
#custom-theme,
#custom-power,
#idle_inhibitor {
    min-width: 24px;
    padding-left: 6px;
    padding-right: 8px;
}

#custom-menu,
#custom-cycle_wall {
    padding-left: 0;
    padding-right: 0;
}

#custom-cycle_wall {
    min-width: 19px;
    padding-right: 4px;
}

#custom-menu {
    min-width: 21px;
    padding-right: 2px;
}

#custom-notification {
    min-width: 40px;
}

#custom-vpn1,
#custom-vpn2 {
    min-width: 22px;
    padding-left: 8px;
    padding-right: 11px;
}

#custom-power {
    padding-left: 7px;
    padding-right: 7px;
}
