* {
    background-image: none;
    box-shadow: none;
    font-family: "JetBrainsMono Nerd Font", sans-serif;
}

window {
    /* SumiInk 1 (Dark Background) с прозрачностью */
    background-color: rgba(31, 31, 40, 0.85);
}

button {
    border-radius: 12px;
    border-style: solid;
    border-width: 2px;
    
    /* Использование палитры Kanagawa */
    border-color: #7E9CD8;       /* Crystal Blue */
    color: #DCD7BA;              /* Old White */
    background-color: #1F1F28;   /* SumiInk 1 */
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20%;        /* Чуть меньше иконки */
    margin: 40px;                /* Расстояние между кнопками */
    transition: all 0.3s ease;   /* Плавный переход */
    /* background-size: 40% */
}

button:focus, button:active, button:hover {
    /* Акцентный цвет при наведении (Ronin Yellow или Wave Blue) */
    background-color: #2f2d67;   /* Wave Blue 2 */
    border-color: #E6C384;       /* Autumn Yellow */
    outline-style: none;
}

/* Иконки */
#lock {
    background-image: image(url("/usr/share/wlogout/icons/lock.png"), url("/usr/local/share/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("/usr/share/wlogout/icons/logout.png"), url("/usr/local/share/wlogout/icons/logout.png"));
}

#suspend {
    background-image: image(url("/usr/share/wlogout/icons/suspend.png"), url("/usr/local/share/wlogout/icons/suspend.png"));
}

#hibernate {
    background-image: image(url("/usr/share/wlogout/icons/hibernate.png"), url("/usr/local/share/wlogout/icons/hibernate.png"));
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
}