* {
    font-family: "JetBrainsMono ExtraBold", "Symbols Nerd Font";
    font-size: 14px;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}

window#waybar {
    background: rgba(0, 0, 0, 0)
}

window#waybar.hidden {
    opacity: 0.5;
}

tooltip {
    background: #1e1e2e;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #11111b;
}

/*-----module groups----*/
.modules-right {
    background-color: #1e1e2e;
    border-radius: 10px;
}

.modules-center {
    background-color: #1e1e2e;
    border-radius: 10px;
}

.modules-left {
    background-color: #1e1e2e;
    border-radius: 10px;
}

#workspaces button {
    padding: 0 2px;
    color: #6E6A86;
    margin-right: 2px;
    min-width: 0;
}

#workspaces button.active {
    color: #cba6f7;
}

#workspaces button.focused {
    color: #d8dee9;
}

#workspaces button.urgent {
    color: #e46876;
}

#workspaces button:hover {
    color: #9CCFD8;
}

#custom-vpn1,#custom-vpn2,
#custom-wakatime,
#custom-notification,
#custom-screenshot_t,
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#network,
#custom-audio-volume,
#pulseaudio,
#wireplumber,
#mode,
#tray,
#cava,
#custom-backlight,
#window,
#idle_inhibitor,
#mpd,
#bluetooth,
#taskbar,
#taskbar button,
#workspaces,
#custom-updater,
#custom-menu,
#custom-cycle_wall,
#custom-power,
#custom-spotify,
#custom-weather,
#custom-power,
#custom-lock,
#custom-weather.severe,
#custom-weather.sunnyDay,
#custom-weather.clearNight,
#custom-weather.cloudyFoggyDay,
#custom-weather.cloudyFoggyNight,
#custom-weather.rainyDay,
#custom-weather.rainyNight,
#custom-weather.showyIcyDay,
#custom-weather.snowyIcyNight,
#custom-weather.default,
#idle_inhibitor,
#custom-language,
#language {
    color: #cba7f7;
    padding: 0px 7px;
    border-radius: 10px;
}

#temperature.critical {
    background-color: #ff0000;
}

@keyframes blink {
    to {
        color: #000000;
    }
}

#taskbar button.active {
    background-color: #7f849c;
}

#battery.critical:not(.charging) {
    color: #f53c3c;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#custom-vpn1,
#custom-vpn2 {
    min-width: 29px;
    padding: 0;
    margin: 0 4px;
    border-radius: 8px;
    transition: all 0.3s ease;
    font-size: 15px;
}

#custom-vpn1.active {
    color: #cba7f7;
    background: rgba(129, 161, 193, 0.15);
}

#custom-vpn2.active {
    color: #cba7f7;
    background: rgba(163, 190, 140, 0.15);
}

#custom-vpn1.inactive,
#custom-vpn2.inactive {
    color: #8981c1;
}

#custom-notification {
    min-width: 42px;
}
