* {
    background: transparent;
    border: none;
    border-radius: 0;
    color: @fg;
    font-family: "JetBrainsMono Nerd Font", "JetBrainsMono ExtraBold", "Symbols Nerd Font", sans-serif;
    font-size: 12px;
    min-height: 0;
    margin: 0;
    padding: 0;
}

window#waybar {
    background: @bg;
    color: @fg;
}

window#waybar.hidden,
.hidden {
    opacity: 0;
}

.modules-left {
    margin-left: 8px;
}

.modules-right {
    margin-right: 8px;
}

#workspaces button {
    all: initial;
    color: @fg;
    min-width: 9px;
}

#workspaces button.empty {
    opacity: 0.5;
}

#workspaces button.active,
#workspaces button.focused {
    color: @accent;
}

#workspaces button.urgent,
#battery.critical:not(.charging),
#temperature.critical,
#network.disconnected,
#bluetooth.disconnected {
    color: @critical;
}

#battery.charging,
#battery.full,
#battery.plugged,
#idle_inhibitor.activated {
    color: @ok;
}

tooltip {
    background: @tooltip_bg;
    border: 1px solid @border;
    border-radius: 2px;
    padding: 2px;
}

tooltip label {
    color: @fg;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    color: @critical;
}

#custom-ws1,
#custom-ws2,
#custom-ws3,
#custom-ws4,
#custom-ws5,
#custom-ws6,
#custom-ws7,
#custom-ws8,
#custom-ws9,
#custom-ws10 {
    color: @fg;
    margin: 0 1px;
    min-width: 9px;
    opacity: 0.5;
    padding: 0 3px;
}

#custom-ws1.active,
#custom-ws2.active,
#custom-ws3.active,
#custom-ws4.active,
#custom-ws5.active,
#custom-ws6.active,
#custom-ws7.active,
#custom-ws8.active,
#custom-ws9.active,
#custom-ws10.active {
    color: @accent;
    opacity: 1;
}
